body, p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Josefin Sans", sans-serif;
  color: black;
  font-size: 18px;
}

button {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(29, 59, 42);
  font-size: 18px;
  background: none;
  border: 1px solid black;
  padding: 15px 45px;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(29, 59, 42);
  color: white;
}

h1 {
  font-family: "Alex Brush", cursive;
  color: rgb(12, 30, 47);
  font-size: 27px;
}

h2, h3, h4 {
  font-family: "Caudex", serif;
  color: rgb(29, 59, 42);
  font-weight: normal;
}

h2 {
  font-size: 34px;
  line-height: 1.7;
}

h3 {
  font-size: 24px;
}

.main {
  display: flex;
  flex-direction: column;
  max-width: 1060px;
  min-width: 900px;
  margin: 0 auto;
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 35px;
}
.top header a {
  text-decoration: none;
  text-align: center;
}
.top header a h1 {
  color: rgb(29, 59, 42);
  margin-bottom: 5px;
}
.top header a p {
  color: rgb(29, 59, 42);
  margin-top: 0;
  font-size: 16px;
}
.top nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.top nav a {
  text-decoration: none;
  color: rgb(29, 59, 42);
  padding-left: 25px;
}
.top nav a:hover {
  color: rgb(72, 118, 92);
}
.top .login p::before {
  font-family: "FontAwesome";
  content: "\f2bd";
  color: black;
  margin-right: 10px;
  font-size: 22px;
}

aside .socials {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 40px;
  top: 180px;
}
aside .socials a {
  padding: 5px;
  color: black;
}
aside .chatbox {
  background-color: rgb(29, 59, 42);
  color: rgb(255, 255, 255);
  display: flex;
  position: fixed;
  bottom: 0;
  right: 20px;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
aside .chatbox p {
  margin: 16px 45px;
}
aside .chatbox p::before {
  font-family: "FontAwesome";
  content: "\f27a";
  margin-right: 10px;
  font-size: 22px;
}

main p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 20px;
}
main .quote {
  background-image: url("/pics/1.webp");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
}
main .quote .blank {
  width: 470px;
}
main .quote .titleBox {
  background-color: rgba(255, 255, 255, 0.8);
  height: 600px;
  width: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}
main .quote .titleBox h2 {
  padding: 0 70px;
}
main .intro {
  display: flex;
  justify-content: space-evenly;
}
main .intro img {
  width: 470px;
}
main .intro .description {
  width: 470px;
  padding: 110px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
main .intro .description p, main .intro .description h3, main .intro .description button {
  margin-bottom: 50px;
}
main .intro .description p {
  width: 350px;
}
main .intro .description img {
  margin-top: 20px;
}
main .counselling {
  background-color: rgb(201, 216, 191);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0 250px;
}
main .counselling .session {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0;
}
main .counselling .session .description {
  background-color: white;
  padding: 60px;
}
main .counselling .session .description p {
  font-size: 16px;
  margin: 10px 0 0;
}
main .counselling .session .description button {
  margin-top: 20px;
  padding: 12px 35px;
  background-color: rgb(29, 59, 42);
  font-size: 16px;
  color: white;
  border: none;
  transition: 0.3s;
}
main .counselling .session .description button:hover {
  background-color: rgb(57, 85, 69);
}
main .counselling .session .photoWrapper {
  background-color: black;
  display: flex;
}
main .counselling .session .photoWrapper img {
  width: 398px;
  opacity: 1;
  transition: 0.3s;
}
main .counselling .session .photoWrapper img:hover {
  opacity: 0.8;
}
main .recipes {
  height: 800px;
  position: relative;
}
main .recipes .recipesWrapper {
  position: absolute;
  top: -100px;
  left: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}
main .recipes .recipesWrapper .photo img {
  width: 490px;
}
main .recipes .recipesWrapper .rightBlock {
  width: 470px;
  margin-top: 250px;
}
main .recipes .recipesWrapper .rightBlock .text {
  width: 400px;
}
main .recipes .recipesWrapper .rightBlock .text p, main .recipes .recipesWrapper .rightBlock .text h3, main .recipes .recipesWrapper .rightBlock .text button {
  margin-bottom: 30px;
}
main .recipes .recipesWrapper .post {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
}
main .recipes .recipesWrapper .post img {
  width: 400px;
}
main .recipes .recipesWrapper .post .postContent {
  padding: 25px;
}
main .recipes .recipesWrapper .post .postContent p {
  font-size: 12px;
  margin-bottom: 5px;
}
main .recipes .recipesWrapper .post .postContent h3 {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(188, 188, 188);
}
main .recipes .recipesWrapper .post .postContent .comment {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
}
main .recipes .recipesWrapper .post .postContent .comment span {
  font-size: 12px;
  padding-left: 3px;
}
main .recipes .recipesWrapper .post .postContent .comment .fa-heart {
  color: red;
}

.bottom {
  background-color: rgb(29, 59, 42);
  padding-top: 300px;
}
.bottom .menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  max-width: 1060px;
  min-width: 800px;
  margin: 0 auto;
  border-top: 1px solid white;
  padding: 80px 20px 60px;
}
.bottom .menu .title a {
  text-decoration: none;
  text-align: center;
}
.bottom .menu .title a h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 5px;
}
.bottom .menu .title a p {
  color: rgb(255, 255, 255);
  margin-top: 0;
  font-size: 18px;
}
.bottom .menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
.bottom .menu nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 25px;
}
.bottom .menu nav a:hover {
  color: rgb(207, 224, 215);
}
.bottom .menu .socials {
  color: rgb(255, 255, 255);
  font-size: 20px;
}
.bottom .menu .socials a {
  padding-left: 10px;
}

footer {
  color: black;
  font-size: 16px;
  padding: 25px 100px;
}/*# sourceMappingURL=mainstyle.css.map */